
body{
  color: #666666;
  background-color: #f9f8f6;
  font-family: Georgia, Times, serif;
  margin: 10px;
}
header{
  margin: 10px 0px 10px 0px;
  background-color: #f9f8f6;
}

<--navbar-->
nav{
  clear: both;
  color: #ffffff;
  background-color: #aeaca8;
  height: 30px;
}
nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;}
nav li {
  display: inline;
  margin-right: 40px;}
nav li a{
  color: #667943;}
nav li a:hover, nav li a.current {
  color: #000000;}

.parallax{
  /*find image*/
  background-image: url(donate.jpg);
  min-height:500px;
  /*create parallax scrolling effect*/
  background-attachment:fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper{
  padding:20px;
  text-align: center;
  background-color: #ffffff;
}
#container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  height: 300px;
  border: 1px solid black;
}
.box{
  text-align:center;
  width: 500px;
  margin: 5px;
}
.donateHere{
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0px;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  height:51px;
  line-height:51px;
  width:115px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
}
.donateHere:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
}
.donateHere:active {
  position:relative;
  top:1px;
}
